@charset "utf-8"
*{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  }
body{
  background-color: rgb(168, 79, 250);
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
main{
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 5px black;
}
  img.lado{
    float:right;
  }